<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="assets/css/4-Col-Small-Slider.css">
    <link rel="stylesheet" href="assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
    <link rel="stylesheet"
        href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="font-family: 'Montserrat Alternates', sans-serif;padding: 0;">
    <!-- NAVBAR -->
    <%- include('partials/navbar') %>

    <!-- BODY -->
    <section id="carousel">
        <div class="carousel slide slice-show" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="jumbotron pulse animated hero-nature carousel-hero">
                        <h1 class="hero-title">TURN OFF AIR CONDITION</h1>
                        <p class="hero-subtitle">Plant make your house more cooller</p>
                        <p><a class="btn btn-primary hero-button plat" role="button" href="#">Explore</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron pulse animated hero-photography carousel-hero">
                        <h1 class="hero-title">Make coffee shop amazing</h1>
                        <p class="hero-subtitle">Let make a green coffee shop</p>
                        <p><a class="btn btn-primary hero-button plat" role="button" href="#">Explore</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron pulse animated hero-technology carousel-hero">
                        <h1 class="hero-title">Decorate your house</h1>
                        <p class="hero-subtitle">Green Garden give you a huge of kind of plant that make your house more
                            friendly environment</p>
                        <p><a class="btn btn-primary hero-button plat" role="button" href="#">Explore</a></p>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i
                        class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a
                    class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i
                        class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2"></li>
            </ol>
        </div>
    </section>
    <div class="slogan">
        <div class="row">
            <div class="col-lg-4 plant"><a href="assets/img/slogan_1.jpg" data-lightbox="roadtrip"><img
                        src="assets/img/slogan_1.jpg"></a>
                <div>
                    <h4 class="text-center" style="margin-top: 10px;font-family: 'Montserrat Alternates', sans-serif;">
                        Lunar New Year</h4>
                    <h2 class="text-center" style="font-family: 'Montserrat Alternates', sans-serif;">Sales 50%</h2>
                </div>
            </div>
            <div class="col-lg-4"><a href="assets/img/slogan_2.jpg" data-lightbox="roadtrip"><img
                        src="assets/img/slogan_2.jpg"></a>
                <div>
                    <h4 class="text-center" style="margin-top: 10px;font-family: 'Montserrat Alternates', sans-serif;">
                        Up 100$</h4>
                    <h2 class="text-center" style="font-family: 'Montserrat Alternates', sans-serif;">Discount 10%</h2>
                </div>
            </div>
            <div class="col-lg-4"><a href="assets/img/slogan_3.jpg" data-lightbox="roadtrip"><img
                        src="assets/img/slogan_3.jpg"></a>
                <div>
                    <h4 class="text-center" style="margin-top: 10px;font-family: 'Montserrat Alternates', sans-serif;">
                        Valentine</h4>
                    <h2 class="text-center" style="font-family: 'Montserrat Alternates', sans-serif;">Sales 20%</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center video"><iframe allowfullscreen="" frameborder="0"
            src="https://www.youtube.com/embed/Jh5oX0VRnzk?autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=Jh5oX0VRnzk&amp;controls=0"
            width="600" height="300"></iframe></div>
    <div class="categories-title" style="margin-top: 35px;">
        <a href="#">
            <h3 class="text-dark" style="margin-bottom: 15px;">Plant on Table</h3>
        </a>
        <div class="row">
            <%
                    category.forEach((cate) => {%>
            <div class="col-lg-3"><a href="assets/img/cay-thinh-vuong-trong-nuoc.jpg" data-lightbox="roadtrip"><img
                        src="<%='/assets/img/'+cate.Img%>"></a>
                <div>
                    <h5 style="margin-top: 15px;"><%=cate.Name%></h5>
                    <div class="d-flex justify-content-between"><span style="color: #92db9e;"><%=cate.Prize%> đ</span><a
                            href="/add/<%= cate.Name %>"><i class="fas fa-shopping-cart"
                                style="margin-left: 0px;color: #92db9e;font-size: 20px;"></i></a></div>
                </div>
            </div>

            <%})
                    %>
        </div>
    </div>
    <div class="categories-title categories-list" style="margin-top: 35px;">
        <a href="#">
            <h3 class="text-dark" style="margin-bottom: 15px;">Categories</h3>
        </a>
        <div class="row">
            <div class="col-lg-3 cate-col">
                <div class="container cate" style="background-color: #f5ead6;padding-bottom: 5px;"><a
                        href="assets/img/cay-thinh-vuong-trong-nuoc.jpg"><img src="assets/img/tieu-canh-de-ban.jpg"></a>
                    <a href="#">
                        <div class="cate" style="background-color: #ffffff;margin-bottom: 0;">
                            <h5 class="text-center" style="margin-top: 15px;">Tiểu cảnh để bàn</h5>
                            <p class="text-center"><%= tcdb + ' sản phẩm'%></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 cate-col">
                <div class="container cate" style="background-color: #f6e9e3;padding-bottom: 5px;"><a
                        href="assets/img/cay-thinh-vuong-trong-nuoc.jpg"><img src="assets/img/chau-canh-de-ban.jpg"></a>
                    <a href="#">
                        <div class="cate" style="background-color: #ffffff;margin-bottom: 0;">
                            <h5 class="text-center" style="margin-top: 15px;">Chậu cảnh để bàn</h5>
                            <p class="text-center"><%= ccdb + ' sản phẩm'%></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 cate-col">
                <div class="container cate" style="background-color: #f4f4dc;padding-bottom: 5px;"><a
                        href="assets/img/cay-thinh-vuong-trong-nuoc.jpg"><img src="assets/img/cay-canh-mini.jpg"></a>
                    <a href="#">
                        <div class="cate" style="background-color: #ffffff;margin-bottom: 0;">
                            <h5 class="text-center" style="margin-top: 15px;">Cây cảnh trang trí</h5>
                            <p class="text-center"><%= ccmn + ' sản phẩm'%></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 cate-col">
                <div class="container cate" style="background-color: #f0f7e7;padding-bottom: 5px;"><a
                        href="assets/img/cay-thinh-vuong-trong-nuoc.jpg"><img
                            src="assets/img/phu-kien-trang-tri.jpg"></a>
                    <a href="#">
                        <div class="cate" style="background-color: #ffffff;margin-bottom: 0;">
                            <h5 class="text-center" style="margin-top: 15px;">Phụ kiện trang trí</h5>
                            <p class="text-center"><%= pktt + ' sản phẩm'%></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tips">
        <a href="#">
            <h3 class="text-dark" style="margin-bottom: 15px;">TIPS</h3>
        </a>
        <div class="carousel slide news" data-ride="carousel" id="carousel-2">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item">
                    <a href="assets/img/slogan_1.jpg" data-lightbox="roadtrip">
                        <div class="d-flex flex-column justify-content-center align-items-center news-bg"
                            style="background-image: url(&quot;assets/img/new_1.jpg&quot;);background-size: cover;">
                            <h1 class="text-center hero-title">Đặt Chậu Cây Phong Thủy</h1><button
                                class="btn btn-primary read-more" type="button">Read more</button>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="assets/img/slogan_1.jpg" data-lightbox="roadtrip">
                        <div class="d-flex flex-column justify-content-center align-items-center news-bg"
                            style="background-image: url(&quot;assets/img/new_2.jpg&quot;);background-size: cover;">
                            <h1 class="text-center hero-title">Chăm Sóc Cây Non</h1><button
                                class="btn btn-primary read-more" type="button">Read more</button>
                        </div>
                    </a>
                </div>
                <div class="carousel-item active">
                    <a href="assets/img/slogan_1.jpg" data-lightbox="roadtrip">
                        <div class="d-flex flex-column justify-content-center align-items-center news-bg"
                            style="background-image: url(&quot;assets/img/new_3.jpg&quot;);background-size: cover;">
                            <h1 class="text-center hero-title">Loại Cây Đem Lại May Mắn</h1><button
                                class="btn btn-primary read-more" type="button">Read more</button>
                        </div>
                    </a>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev"><span
                        class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a
                    class="carousel-control-next" href="#carousel-2" role="button" data-slide="next"
                    style="background-repeat: no-repeat;"><span class="carousel-control-next-icon"></span><span
                        class="sr-only">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-2" data-slide-to="0"></li>
                <li data-target="#carousel-2" data-slide-to="1"></li>
                <li data-target="#carousel-2" data-slide-to="2" class="active"></li>
            </ol>
        </div>
    </div>

    <!-- FOOTER -->
    <%- include('partials/footer') %>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/4-Col-Small-Slider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox-plus-jquery.min.js"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

</html>